.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
  color : #fea116;
}

.navbar-dark .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #FFFFFF;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.carousel-caption {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
.bg-image {
  background-image: url('../public/assets/img/carousel-1.jpg');
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.app {
  text-align: center;
}
.h1 {
  color: rgb(0, 0, 0);
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url("C:\Users\mhuza\Desktop\project fyp\Frontend\public\images\card.webp") 
  no-repeat center center/cover;
  color: rgb(255, 255, 255);
  padding: 100px 20px;
 
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.hero-btn:hover {
  background-color: #0056b3;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 20px;
}

.feature {
  max-width: 280px;
  margin: 20px;
  text-align: left;
}

.feature img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.feature h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1rem;
  line-height: 1.5;
}

.footer {
  background: #f8f9fa;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.contact,
.social {
  font-size: 0.9rem;
}

.social a {
  margin: 0 10px;
  color: #007bff;
  text-decoration: none;
}

.social a:hover {
  text-decoration: underline;
}
